<div>
    <div>
        <componente-a></componente-a>
    </div>
    <hr/>
    <div>
        <componente-b></componente-b>
    </div>

    <div>
        <componente-a></componente-a>
    </div>
    <hr/>
    <div>
        <componente-b></componente-b>
    </div>

    <div>
        <componente-a></componente-a>
    </div>
    <hr/>
    <div>
        <componente-b></componente-b>
    </div>

    <div>
        <componente-a></componente-a>
    </div>
    <hr/>
    <div>
        <componente-b></componente-b>
    </div>
</div>